


/* Define the keyframes for the slide up and down animation */
@keyframes slideUp {
    0% {
        transform: translateY(100%); /* Start from below the view */
        opacity: 0; /* Start as invisible */
    }
    100% {
        transform: translateY(0); /* Move to its original position */
        opacity: 1; /* Become fully visible */
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(200px); /* Start from its original position */
        opacity: 0; /* Start as visible */
    }
    50% {
        transform: translateY(100%); /* Move down and out of view */
        opacity: 50%; /* Become invisible */
    }
    100%{
        transform: translateY(0); /* Start from its original position */
        opacity: 1
    }
}


.identity{
    position: absolute;
    top: 100vh;
    
    padding: 0;
   
    
    .profile{
        background-color: rgb(5, 5, 53);
        padding-bottom: 20%;

        .pic{
            background-color: rgb(5, 5, 53);
            
            height: 70vh;
            .ppic{
                height: 330px;
                width: 350px;
                border-radius: 50%;
                margin-left: 40px;
                margin-top: 40px;
                border: 4px solid aqua;
                box-shadow: 4px 0px 3px 1px whitesmoke;
            }
        }
        .my-info{
          
         
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                opacity: 40%;
                width: 100%;
                border-radius: 20px;
                box-shadow: 5px 5px 10px 5px whitesmoke;
            }
            
            
            
            
    
        }
        .my-text{
            position: absolute;
            left: 40%;
            top: 5%;
            h2{
                text-align: center;
                margin-bottom: 50px;
                color: wheat;
    
            }
            h4{
                color: white;
                text-align: justify;
                margin-left: 50px;
            }
        }
    }
    .my-cards{
        position: absolute;
        top: 90vh;
        display: flex;
        flex-direction: row;
        padding-left:  5.5%;
        animation: slideDown 0.5s ease-out forwards;
        
        
    }   .card{
        margin-right: 8%;
        background-color: aliceblue;
        box-shadow: 0px 0px 10px 2px grey;
        .card-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: aquamarine;
            color: navy;
            i{
                font-size: 30px;
                text-align: center;
                
            }
            h3{
                text-align: center;
            }
            h4{
                text-align: center;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        .card-text{
            p{
                text-align: justify;
            }
            h3{
                text-align: center;
            }
            ul{
                margin-left: 5vw;
            }
        }
        
    }
}
@media (max-width:575px){
    .identity{
        top: 60vh;
    }
    .ppic{
       display: none;
    }
    .my-info img{
        display: none;
    }
    .identity .profile .my-text{
        left: 0;
        margin-right: 10px;
    
        h2{
            text-align: center;
            margin-bottom: 50px;
            color: wheat;

        }
        h4{
            color: white;
            text-align: justify;
            margin-left: 50px;
        }
    }
    .my-cards{
        top:180vh;
    }
    .card{
        height: auto;
        .card-text{
            p{
                display: none;
            }
        }
    }

}
