@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 0;
  }
}
.hero {
  position: absolute;
  height: 85vh;
  width: 82vw;
  left: 16.4vw;
  top: 15vh;
  margin: 0;
  background-image: url("../../public/Images/pic4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h2 {
  font-size: 80px;
  font-weight: 600;
  -webkit-text-stroke: 3px aqua;
  margin-bottom: 5vh;
  text-transform: uppercase;
}
.hero h2::before {
  content: attr(data-text);
  -webkit-text-stroke: 3px rgb(50, 223, 53);
  color: rgb(5, 5, 53);
  border-right: 2px solid rgb(50, 223, 53);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

body {
  padding: 0;
}
body .my-skills {
  margin-bottom: 184vh;
}
body .my-skills .skills {
  margin: 0;
  height: 40vh;
  background-color: wheat;
}
body .my-skills .skills h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
  text-transform: uppercase;
  font-family: fantasy;
}
body .my-skills .cards {
  position: absolute;
  z-index: 10;
  top: 22vh;
  margin-left: 10vw;
}
body .my-skills .cards .cad {
  color: brown;
  height: 40vh;
  border-radius: none;
  padding-top: 4vh;
  background-color: aliceblue;
  box-shadow: 0px 0px 5px 1px grey;
  width: 20vw;
  margin-right: 9vw;
  margin-bottom: 5vh;
}
body .my-skills .cards .cad h2 {
  text-align: center;
}
body .my-skills .cards .cad i {
  font-size: 30px;
  font-weight: 800;
  margin-left: 40%;
}
body .projects {
  position: absolute;
  top: 97vh;
  z-index: 1;
}
body .projects h2 {
  padding-top: 10vh;
  font-family: fantasy;
  font-size: 70px;
  padding-left: 8vw;
  background-color: aquamarine;
  padding-bottom: 10vh;
}
body .projects .pads .pad {
  background-color: rgb(29, 180, 29);
  color: white;
  margin-left: 6.5vw;
  width: 25vw;
  padding: 0;
  margin-top: 10vh;
  box-shadow: 0px 0px 5px 1px grey;
}
body .projects .pads .pad img {
  width: 25vw;
  height: 40vh;
}
body .projects .pads .pad .pad-info {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .projects .pads .pad .pad-info h3 {
  text-align: center;
}
body .projects .pads .pad .pad-info p {
  text-align: center;
}

@media (max-width: 575px) {
  .hero {
    height: 50vh;
  }
  .hero h2 {
    font-size: 45px;
  }
  body .my-skills .cards .cad {
    padding-top: 0%;
  }
  .my-skills {
    position: absolute;
    width: 100%;
    top: -40vh;
  }
  .cards {
    margin-left: 10vw;
  }
  body .my-skills .cards .cad {
    margin: 0;
    width: 40%;
    height: 26vh;
    margin-bottom: 1vh;
    margin-right: 2vw;
  }
  body .my-skills .cards {
    top: 16vh;
  }
  body .projects {
    top: 48vh;
  }
  body .projects h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  body .projects .pads {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .projects .pads .pad {
    margin-top: 0px;
    width: 60vw;
    height: 17vh;
    margin-bottom: 10px;
  }
  body .projects .pads .pad img {
    display: none;
  }
  body .projects .pads .pad .pad-info {
    margin: 0%;
  }
  body .projects .pads .pad .pad-info h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=PS.css.map */